% rebase('base.html', izbrani_zavihek='igra')

<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>
<script>
let SELECTED = null;
$(function() {
$(".figura").click(function(e){
    var e = $(e.target);
    var id = e.attr("id");
    if (id != SELECTED) {
        $(".figura").removeClass("selected");
        e.addClass("selected");
        SELECTED = e.attr("id");
    } else {
        $(".figura").removeClass("selected");
        SELECTED = null;
    }
});

$(".polje").click(function(e){
    var e = $(e.target);
    var id = e.attr("id");
    if (SELECTED !== null) {
        $('input[name="figura"]').attr("value", SELECTED);
        $('input[name="mesto"]').attr("value", id);
        $("#form").submit();
    }
});

$("#form-container").hide();
});
</script>

% if stanje == model.ZMAGA:
  <article class="message is-info">
    <div class="message-header">
      <p>Konec!</p>
      <button class="delete" aria-label="delete" onclick="this.parentElement.parentElement.style.display='none'"></button>
    </div>
    <div class="message-body">
      <p>Igra je končana! Zmagal je <strong>{{igralecf}}</strong>.</p>
      <p>Če želite igrati ponovno, pritisnite gumb <em>nova igra</em> na dnu strani.</p>
    </div>
  </article>
% elif len(plosca) == 16:
  <article class="message is-info">
    <div class="message-header">
      <p>Konec!</p>
      <button class="delete" aria-label="delete" onclick="this.parentElement.parentElement.style.display='none'"></button>
    </div>
    <div class="message-body">
      <p>Igra je končana! Vse figure so postavljene na ploščo. Rezultat je izenačen.</p>
      <p>Če želite igrati ponovno, pritisnite gumb <em>nova igra</em> na dnu strani.</p>
    </div>
  </article>
% end

% if len(plosca) == 0 and not vpis:
<article class="message is-info">
  <div class="message-body">
    <div class="field has-addons">
      <p>Če želite, da se rezultat igre vpiše v statistiko, pred začetkom igre vpišite svoje ime.</p>
      <form action="/nova_igra/" method="get">
        <div class="vpis">
          <button type="submit" class="button is-medium is-info">Vpis</button>
        </div>
      </form>
    </div>
  </div>
</article>
% end

% if stanje != model.ZMAGA:
<p>Figuro izbira: <strong>{{igralecf}}</strong>. Prosim, izberi figuro, ki jo želiš podati nasprotniku.</p>
<p>Polje izbira: <strong>{{igralecp}}</strong>. Prosim, izberi polje, kamor želiš postaviti ponujeno figuro.</p>
<div id="form-container">
  <form action="" method="post" id="form">
    <input name="figura" placeholder="številka figure" autofocus> <input name="mesto" placeholder="številka polja" autofocus> <input type="submit" value="Potrdi">
  </form>
  % if napaka:
  <p class="help is-danger">{{ napaka }}</p>
  % end
</div>
% end

<div class="row">
  <div id="figure" class="column">
    <table>
    % for sez in figure:
      <tr class="vr">
      % for figura in sez:
        % if figura != 1:
          <td class="st"><img src="/static/img/{{figura}}.png" id="{{figura}}" class="figura" width="100" height="100"></td>
        % else:
          <td class="st"><img src="/static/img/1.png" class="fig" width="100" height="100"></td>
        % end
      % end
      </tr>
    % end 
    </table>
  </div>
  
  <div id="deska" class="column">
    <table>
    % for j in range(velikost):
      <tr> 
      % for i in range(velikost):
        % if plosca.get((i, j), 0) != 0:
          <td class="st"><img src="/static/img/{{plosca.get((i, j), 0)}}.png" width="100" height="100"></td> 
        % else:
          <td class="st"><img src="/static/img/0.png" class="polje" id="{{i}},{{j}}" width="100" height="100"></td>
        % end
      % end
      </tr>
    % end
    </table>
  </div>
</div>

<form action="/new/" method="get">
  <div class="nova_igra">
    <button type="submit" class="button is-medium is-info is-light">Nova igra</button>
  </div>
</form>