% rebase('base.html', izbrani_zavihek='navodila')

<strong>Navodila za igro</strong>

<br>

Igra se prične s prazno igralno površino velikosti 4×4, na katero igralca izmenično postavljata figure.
Te se razlikujejo v štirih lastnostih - vsaka figura je:

<ul class="sez">
  <li class="item"> svetla ali temna </li>
  <li class="item"> z ozadjem ali brez </li>
  <li class="item"> kvadratna ali okrogla </li>
  <li class="item"> polna ali z luknjo </li>
</ul>

Ko je igralec na potezi, izbere eno izmed še neizbranih figur in jo poda nasprotniku.
Ta jo nato postavi na igralno ploščo. Če pri tem doseže, da se štiri figure v vrsti (v stolpcu, vrstici ali na diagonali) ujemajo v eni izmed lastnosti (barva, velikost, oblika ali luknja), zmaga.

Igro lahko igramo tudi tako, da je za zmago dovolj, če se figure v poljubnem kvadratku velikosti 2×2
ujemajo v eni izmed prej naštetih lastnosti (izbirno pravilo).