.st {
    padding-right: 5px;
}

.vr {
    padding-bottom: 0px;
}

.figura, .fig {
    border: 2pt solid;
    border-color: white;
}

.item {
    list-style: circle inside;
    margin-left: 40px;
}

.sez {
    margin-top: 5px;
    margin-bottom: 5px;
}

.column {
    width: 50%;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-top: 0.5cm
}

#figure {
    float: right;
}

#deska {
    float: left;
}

.selected {
    border: 2pt solid;
    border-color: darkblue;
}

.nova_igra {
    float: right;
    padding-top: 50px;
    padding-bottom: 50px;
}

.izbira {
    padding: 10px;
}

.vpis {
    padding-left: 100px;
}

.igraj {
    padding-left: 200px;
    padding-bottom: 20px;
}

.stat {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 150px;
}